@model AspPrep.Models.{{entity.name}}

@{
    ViewData["Title"] = "Create {{entity.name}}";
}

<h1>Create {{entity.name}}</h1>

<h4>{{entity.name}}</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            {{#each entity.properties}}
            {{#unless (isForeignKey name ../entity)}}
            <div class="form-group">
                <label asp-for="{{name}}" class="control-label"></label>
                {{#if (eq type "boolean")}}
                <input asp-for="{{name}}" class="form-check-input" type="checkbox" {{clientValidation this}} />
                {{else if (eq type "Date")}}
                <input asp-for="{{name}}" class="form-control" type="date" {{clientValidation this}} />
                {{else if (eq type "DateTime")}}
                <input asp-for="{{name}}" class="form-control" type="datetime-local" {{clientValidation this}} />
                {{else if (eq type "enum")}}
                <select asp-for="{{name}}" class="form-control" {{clientValidation this}}>
                    <option value="">-- Select {{name}} --</option>
                    {{#each options}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{else}}
                <input asp-for="{{name}}" class="form-control" {{clientValidation this}} />
                {{/if}}
                <span asp-validation-for="{{name}}" class="text-danger"></span>
            </div>
            {{/unless}}
            {{/each}}
            {{#if entity.relations}}
            {{#each entity.relations}}
            <div class="form-group">
                <label asp-for="{{navigationProperty}}Id" class="control-label">{{navigationProperty}}</label>
                <select asp-for="{{navigationProperty}}Id" class="form-control" asp-items="@(new SelectList(ViewData["{{navigationProperty}}List"] as IEnumerable<dynamic>, "Id", "DisplayName"))">
                    <option value="">-- Select {{navigationProperty}} --</option>
                </select>
                <span asp-validation-for="{{navigationProperty}}Id" class="text-danger"></span>
            </div>
            {{/each}}
            {{/if}}
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
