@model IEnumerable<AspPrep.Models.{{entity.name}}>

@{
    ViewData["Title"] = "{{entity.name}} List";
}

<h1>{{entity.name}} List</h1>

{{#if pageConfig.searchFields}}
<form method="get" class="mb-3">
    <div class="row">
        {{#each pageConfig.searchFields}}
        <div class="col-md-3">
            <label for="{{this}}" class="form-label">{{this}}</label>
            <input type="text" class="form-control" id="{{this}}" name="{{this}}" value="@Context.Request.Query["{{this}}"]" />
        </div>
        {{/each}}
        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary me-2">Search</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>
{{/if}}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            {{#each entity.properties}}
            <th>
                @Html.DisplayNameFor(model => model.{{name}})
            </th>
            {{/each}}
            {{#if entity.relations}}
            {{#each entity.relations}}
            <th>
                {{navigationProperty}}
            </th>
            {{/each}}
            {{/if}}
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            {{#each entity.properties}}
            <td>
                @Html.DisplayFor(modelItem => item.{{name}})
            </td>
            {{/each}}
            {{#if entity.relations}}
            {{#each entity.relations}}
            <td>
                @Html.DisplayFor(modelItem => item.{{navigationProperty}}.Nume)
            </td>
            {{/each}}
            {{/if}}
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
